footer{
    background-color: #111111;
    color:white;
}
footer > div{
    width: 100%;
    max-width:1019px;
    min-height:287;
    display:flex;
    justify-content: center;
    align-items: center;
    justify-items: center;
    flex-wrap:wrap;
    
}
footer > section{
    width:100%;
    max-width:1440px;
    height:137px;
    justify-content: center;
    align-items: center;
    justify-items: center;
    display:grid;
    background-color: #222222;
}