body{
    width:100%;
    max-width:var(--max-width);
    margin-left: auto;
    margin-right:auto;
    background-color: black;
}
main{
    width:100%;
}
header{
    display:flex;
    justify-content:space-between;
    align-items: center;
    justify-items: center;
    background-image:linear-gradient(#29d9d657,#29d9d657), url("../../img/mountain.svg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height:100vh;
    flex-direction: column;
    font-family: Nunito;
}
.heroContent{
    width:100%;
    max-width:721px;
    min-height:453px;
    display:grid;
    color:white;
    margin-bottom:70px;
    justify-content: center;
    align-items: center;
    justify-items: center;

}
.heroContent > strong{
    font-size: 64px;
}
.heroContent > h1{
    font-size:22px;
}
.destForm{
    width:100%;
    max-width:721px;
    min-height:143px;
    border-radius:27px;
    background-color: #111111;
    display:flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap:wrap;
}
.destForm > fieldset{
    border: none;
}
.destForm > fieldset > input{
    width:131px;
    height: 35px;
    border-radius: 17px;
    border: #29D9D5 2px solid;
    background-color: #111111;
    color:#29D9D5;
}
article{
    width:100%;
    background-color: #111111;
    color:white;
    font-family: Nunito;
    display:grid;
    justify-content: center;
    align-items: center;
    justify-items: center;
}
article > div > div > strong{
    color:#29D9D5;
}
body > main > article > .choose{
    margin-top:17px;
            display:flex;
            justify-content: space-around;
            align-items: center;
            flex-wrap:wrap;
            width: 100%;
            max-width: 1045px;
        }
        body > main > article > div > div{
            width:100%;
            max-width:500px;
        }
        body > main > article > div > picture > img{
            width:100%;
            max-width:400px;
            min-height:255px;
            object-fit: cover;
        }

.tourProgram{
    margin-top: 17px;
    width:100%;
    max-width:1034px;
    min-height:915px;
    display:flex;
    justify-content:center;
    align-items: center;
    justify-items: center;
    flex-wrap:wrap;
    grid-gap:20px;
}
.tourProgram > div{
    width: 100%;
    max-width:220px;
    min-height:477px;
    display:grid;
    justify-content: center;
    align-items: start;
    justify-items: center;
    background-color: #222222;
    border-radius:17px;
}
.tourProgram > strong{
    width:100%;
    min-width:100%;
    color:#29D9D5;
}
.tourProgram > h2{
    width:100%;
    min-width:100%;
}
.tourProgram > div > picture > img{
    border-radius: 17px 17px 0 0;
    width:100%;
    max-width:220px;
}
.tourProgram > div > h3{
    font-size:17px;
    width:100%;
    max-width:200px;;
}
.tourProgram > div > p{
    font-size: 14px;
    color:#808080;
    width: 100%;
    max-width:200px;
}

.tourCost{
     margin-top: 17px;
    width:100%;
    max-width:1034px;
    /* min-height:915px; */
    display:flex;
    justify-content:center;
    align-items: center;
    justify-items: center;
    flex-wrap:wrap;
    grid-gap:20px;
}
.tourCost > strong{
    width:100%;
    max-width:100%;
    color:#29D9D5;
}
.tourCost > h2{
    width:100%;
    max-width:100%;
}
.tourCost > div{
    border-radius: 17px;
    background-color: #222222;
    width:100%;
    max-width:310px;
    min-height:270px;
    display:grid;
    justify-content: center;
    align-items: center;
    justify-items: center;
}
.tourCost > div > strong{
    color:white;
}
.tourCost > div > strong,i{
 max-width:250px;
 width:100%;
}

article > p{
    margin:3%;
}

.startYourAdventure{
    display:grid;
    justify-content: center;
    align-items: center;
    justify-items: center;
    color:white;
    width:100%;
    max-width:1440px;
    height:510px;
    background: url("../../public/img/adventure.svg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}
.startYourAdventure > div{
    width:100%;
    max-width:494px;
    height: 220px;
    display:grid;
    justify-content: center;
    align-items: center;
    justify-items: center;
}
.startYourAdventure > div > h3{
    font-size:33px;
}

body > main > article > picture > img{
    width:100%;
    max-width:1300px;
}